.header{
    &__menu{
        height: 100%;
        position: fixed;
        width: rem(280);
        border-right: rem(1) dashed rgba(145, 158, 171, 0.2);
    }
    &__container{
        height: 100%;
    }
}
.menu{

    &__body{
        height: 100%;
        justify-content: center;
        display: flex;
    }
    
    &__list{
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: rem(30);
        width: 100%;
        text-align: center;
    }

    &__item{
      
    }

    &__link{
        display: block;
        width: 100%;
        transition: all .3s ease;
        padding: rem(10) rem(20);
        border-radius: rem(10);
        &:hover{
            background-color: rgba(0, 167, 111, 0.16);
            color: rgb(91, 228, 155);
            cursor: pointer;
        }
    }
}